/**/node_modules
/**/.env
/**/.env*.local
/**/.next/
/**/build
/**/dist


/**/next-env.d.ts

/client/.env
/server/.env

/**/.vscode/*

/**/.idea
/**/.git

/**/coverage
/**/.nyc_output


/**/.pnp
/**/.pnp.js

/**/.DS_Store
/**/*.pem

/**/logs
/**/npm-dubg.log*
/**/yarn-debug.log*
/**/yarn-error.log*

/**/*.tsbuildinfo

/**/*.launch
/**/.settings/