.wrapper {
  @apply flex flex-col;
}


.input__wrapper {
  @apply bg-zinc-50 h-12  rounded-3xl flex items-center gap-x-2 px-4;
}

.input {
  @apply outline-none focus:outline-none h-full w-full bg-transparent;
}


.content {
  @apply absolute  z-[50]   ;
  &__inner {
    @apply bg-white rounded-xl shadow-lg  overflow-auto  transition-all;
    animation: content ease-in-out .2s forwards;

  }
}

@keyframes content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}