@import '@/styles/mixins.scss';

.content {
	@apply w-screen max-w-none py-0 h-screen px-0 rounded-none;
}

.container {
	@apply overflow-auto py-6;
	&::-webkit-scrollbar {
		display: none;
	}
}

.form {
	@apply flex flex-col gap-20 md:gap-4 md:flex-row my-8;
	> div {
		flex: 1;
	}
}

.preview {
}

.tags,
.preview {
	@apply flex flex-col gap-y-2;
}

.tags {
	@apply md:pt-9;
}

.dropzone {
	@apply w-full  flex items-center justify-center   relative;

	&__dashed {
		@apply border-dashed border-2 border-zinc-200 p-10;
	}

	&__text {
		@apply text-zinc-700 text-lg text-center;
	}
}

.label {
	@apply text-2xl text-zinc-900 font-bold;
}

.image {
	@apply max-w-none object-contain h-full;
	&__wrapper {
		@include adaptive-value('height', 300, 200);
	}
}

.title__input {
	@apply font-semibold text-zinc-800;
	font-size: 1.125rem;
}

.description__textarea {
	@apply max-h-[12.5rem] text-base font-medium text-zinc-700;
}

.note {
	@apply mt-6;
}
.checkbox__note,
.note {
	@apply text-sm font-medium text-zinc-500;
	span {
		@apply text-zinc-700 font-bold;
	}
}

.publishing__to {
	@apply text-base text-zinc-600;
	span {
		@apply text-lg text-zinc-800 font-secondary font-semibold;
	}
}

.tags__changes {
	@apply text-base text-zinc-800;
}

.submit__button {
	@apply w-max;
}

.select {
	@apply my-4;
}

.checkbox__item {
	@apply flex items-center gap-x-2;
}
